.menu-menu-1-container {
	align-content: center;
}

.main-navigation a,
header a {
	font-size: 15px;
	color: var(--black);
	font-weight: 500;
}

.menu-toggle {
	background: none;
	border: none;
}

.menu-toggle svg {
	padding: 4px 5px;
	width: 29px;
	height: 21px;
}

.mobmenu {
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 999;
	width: 100% !important;
	height: 100vh;
	background-color: #0000007a;
	transition: transform 0.4s ease;
	transform: translateX(100%);
	overflow: auto;
	max-width: 100%;
}

.menu-open {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	overflow-y: auto;
}

.mobmenu__container {
	max-width: 26rem;
	justify-self: right;
	float: right;
	overflow: hidden;
	width: 90%;
}

.mobmenu.menu-open {
	transform: translateX(0) !important;
	right: 0;
}

.mobmenu.menu-close {
	transform: translateX(100%);
	right: 0;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.closebtn svg {
	height: 17px;
	width: 17px;
}

.closebtn {
	cursor: pointer;
	position: relative;
	left: 3px;
}

.mobmain_menu li {
	border-top: solid 1px black;
	padding: 13px 0px 11px 0px;
}

.mobmain_menu>div>ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
}

.main-navigation li.menu-item-has-children {
	padding-right: 15px;
}

.main-navigation li.menu-item-has-children::after {
	content: "";
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11%201.54492L6%206.54492L1%201.54492%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	position: absolute;
	background-size: contain;
	height: 14px;
	width: 14px;
	top: 50%;
	margin-left: 5px;
	margin-top: -5px;
	right: -4px;
	cursor: pointer;
}
.megamenu__col {
	padding-top: 1rem;
	border-top: solid 1px #a7a7a7;
}
.back-button {
    border-top: none !important;
    margin-bottom: 1rem;
    padding-top: 0 !important;
}

.back-button a {
    font-weight: 600;
    text-transform: uppercase;
}

.menu-item-has-children>a {
    position: relative;
    display: block;
}

.mobmain_menu .menu-item-has-children>a::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M1.625 1.625L6 6L1.625 10.375' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 0;
    height: 14px;
    width: 14px;
    margin-top: 4px;
}

@media (max-width: 991px) {

    .sliding-menu-container .sub-menu .menu-item-has-children .sub-menu {
        display: none !important;
    }

    .mobmain_menu .menu-main-menu-container {
        display: none;
    }

    .sliding-menu-container {
        display: flex;
        transition: transform 0.3s ease;
        width: 100%;
        transform: translateX(0);
    }

    .menu-panel {
        min-width: 100%;
        flex: 0 0 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease;
        padding: 10px 0;
    }

    .menu-panel.active {
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu-active .mobmain_menu .sub-menu {
        max-height: none !important;
        display: block;
    }

    .mobile-menu-active .mobmain_menu #primary-menu>.menu-item>.sub-menu {
        display: none;
    }

    .megamenu__container {
        display: none !important;
    }

}

@media (min-width:991px) {
    .sliding-menu-container {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
        gap: 19px;
    }

    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
        gap: 1.2rem;
        align-items: center;
    }

    .menu-item.menu-item.services__mega-menu:hover+.megamenu__container,
    .megamenu__container:hover {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .services__mega-menu>.sub-menu,
    .services__mega-menu>.sub-menu {
        display: none !important;
    }

    .megamenu__container {
        display: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        overflow: auto;
        top: 3rem;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        padding-top: 10px;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        transform: translateY(-10px);
    }
}